<div class="modal-content">
    <div id="account_{{account.account_number}}">
        <section class="col-element">
            <div class="top-details">
                <p>{{account.account_number}}</p>
                <a href="/">Close</a>
            </div>
        </section>
        <section class="popup-wrapper">
            <div class="transfering-wrapper">
                <h3>Transfering money</h3>
                <div class="balance">
                    <p>Balance: {{account.balance}} </p>
                </div>
                <div class="sending-money">
                    <form action="{% url 'account_management_app:transfer' account.account_number %}" method="post">
                        {% csrf_token %}
                        <input name="amount" type="number" placeholder="Amount" />
                        <input name="account_number" type="text" placeholder="Account number" />
                        <input name="note" type="text" placeholder="Note" />
                        <button>
                            Send
                        </button>
                    </form>
                </div>
                <hr />
                <h3>All transactions</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    {% for transaction in transactions%}
                    <tbody>
                        <tr>
                            <td>{{transaction.created_timestamp}}</td>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.note}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <section class="col-element">
                <h3>Loan</h3>
                <div id="loan_container" hx-swap="outerHTML"
                    hx-get="{% url 'account_management_app:loan' account_number=account.account_number %}"
                    hx-trigger="load">
                </div>
            </section>
        </section>
    </div>
</div>
