{% extends "account_management_app/base.html" %}
{% block content %}

<div class="account-wrapper">
    <h1>Dashboard</h1>
    <p> Welcome {{customer}} !</p>

    <div class="total-balance">
        <p>YOUR TOTAL BALANCE</p>

        <p id="amount_balance">{{total_balance}}</p>
    </div>

    <div class="payment-list">
        <div class="accounts">
            <h2>Your accounts</h2>
            {% for account in accounts %}

            <div class="account_number" id="{{account.account_number }}" class="clickable"
                hx-get="{% url 'account_management_app:account_details' account.account_number %}" hx-trigger="click"
                hx-target="this" hx-swap="outerHTML">
                <div>{{account.account_number}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if error %}
    {{ error }}
    {% endif %}
</div>
{% endblock %}
