<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Login</title>
</head>

<body>
   <h1>Login</h1>
   <hr />
   <form action="{% url 'login_app:login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="User Name" />
      <input type="password" name="password" placeholder="Password" />
      <button>Login</button>
   </form>
   <hr />
   {% if error %}
   {{ error }}
   {% endif %}
</body>

</html>
